//SYMROOT = ../../../lib
//OBJROOT = build

//VALID_ARCHS = i386
//ONLY_ACTIVE_ARCH = YES

//CONFIGURATION_BUILD_DIR = $(SYMROOT)/MacOS_$(CONFIGURATION)

//LD_DYLIB_INSTALL_NAME = $(EXECUTABLE_PATH)

//PRIVATE_HEADERS_FOLDER_PATH = ../../include/$(PRODUCT_NAME)
//PUBLIC_HEADERS_FOLDER_PATH = $(PRIVATE_HEADERS_FOLDER_PATH)
//HEADER_SEARCH_PATHS = $(SRCROOT)/../../../include $(SRCROOT)/../../../deps/include
//LIBRARY_SEARCH_PATHS = $(SRCROOT)/../../../lib/MacOS_$(CONFIGURATION) $(SRCROOT)/../../../deps/lib/MacOS_$(CONFIGURATION)
HEADER_SEARCH_PATHS = $(SRCROOT)/../../../src $(SRCROOT)/../deps/include

OTHER_LDFLAGS =
GCC_PREFIX_HEADER =

//DEPLOYMENT_LOCATION = YES
//DSTROOT = ../../../bin
//DSTROOT = /usr/local/lib
//INSTALL_PATH = /MacOS_$(CONFIGURATION)
//INSTALL_PATH = /
//SKIP_INSTALL = NO

//GCC_TREAT_WARNINGS_AS_ERRORS = NO
